<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="">
 
<p>THIS IS YOUR WEBSITE</p>
<p>What is your name? : <input type="text" ng-model="name"></p>
<p ng-bind="name"></p>
<p>What is the name of your team? : <input type="text" ng-model="team_name"></p>
<p ng-bind="team_name"></p>
<p>What is your name of your team lead? : <input type="text" ng-model="team_lead_name"></p>
<p ng-bind="team_lead_name"></p>



</div>

</body>
</html>